{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  },
  "env": {
    "targets": {
      "node": "14"
    }
  },
  "module": {
    "type": "commonjs"
  }
}
